* text=auto
*.cs      text eol=crlf
*.csproj  text eol=crlf
*.sln     text eol=crlf
*.md      text
*.rvmat   text
*.p3d     binary
*.paa     binary
*.shp     binary
*.shx     binary
*.dbf     binary
*.png     binary
